body {
  box-sizing: border-box;
  margin: 0;
  text-align: left;
}

.data-not-found {
  background: url("nodatafound.png");
  height: 437px;
  width: 840px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

.data-not-found h1 {
  font-size: 2rem;
  text-align: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background: rgb(0, 0, 0, 0.2);
}

.backdrop .spinner-border {
  display: block;
  position: fixed;
  top: 50%;
  right: 50%;
}
